<div class="container">
  <div class="header" style="text-align: center; color: blue">
   <h2> School Management System</h2>



 <nav >
    <a routerLink="/marks-list" routerLinkActive="active">Marks List</a> &nbsp;
    <a routerLink="/add-marks" routerLinkActive="active">Add Marks</a> &nbsp;
    <a routerLink="/report-screen" routerLinkActive="active">Reports Screen</a>
  </nav>
</div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <h2></h2>
  </div>
</div>
